<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GLogin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>3288270687-bubevuc0og385uh8ua33od61rq1vs4l8.apps.googleusercontent.com</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GLogin2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.3288270687-bubevuc0og385uh8ua33od61rq1vs4l8</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>3288270687-bubevuc0og385uh8ua33od61rq1vs4l8.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost:4000</key>
			<dict>
				<key>NSExceptionAllowInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
